body {
  margin: 0;
  height: 100%;
  background-color: rgb(235, 255, 255);
  min-height: 100%; 
  
}

.main { 
  margin: 25px; 
  
  text-align: center;
  border: solid;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
  padding: 2px;

}

.searchData{
  margin: 2px;
  padding: 2px;
  text-align: center;
  float: center;
  min-width: 90%;
  width: 96%;
  min-height: 600px;
  border: solid;
  border-color: rgb(139, 34, 34);
  border-width: 2px;

}


.data { 
  float: left;
  border: solid;
  margin-left: 18%;
  border-color: rgb(99, 146, 23);
  border-width: 2px;
  max-width: 400px;
  width: 400px;
}
.following { 
  float: left;
  border: solid;
  border-color: rgb(40, 30, 82);
  border-width: 2px;
  max-width: 520px;
} 

.following button{
  margin: 4px;
}

.followingimgscontainer {
  flex-direction: row;
  flex-wrap: wrap;

}

.following img {
  padding: 4px;
}
